.place__title {
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  margin: 0 auto 32px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    margin: 0 0 48px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}
