.photo-grid {
  max-width: 1184px;
  width: calc(100% - 2*16px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .photo-grid  {
    width: calc(100% - 2*24px);
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid  {
    width: calc(100% - 2*48px);
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid  {
    width: 100%;
  }
}
