.intro {
  max-width: 984px;
  width: calc(100% - 2*16px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: calc(100% - 2*48px);
  }
}
