.cover {
  width: 100%;
  min-height: calc(100vw/1.6);
  margin: 0 auto;
  position: relative;
  background: no-repeat center/cover url('../../images/cover-trains.jpg');
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}
