.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .4s ease-out;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);;
}
