.section_space_bottom {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .section_space_bottom  {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .section_space_bottom {
    margin-bottom: 92px;
  }
}
